*{
    margin: 0;
    padding: 0;
    background-color: rgb(98, 86, 99);
}

.nav-bar{
	width: 90%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

#logo{
    width: 60px;
}

.nav{
    padding-left: 60px;
}

.nav .ul li{
    display: inline-block;
    margin: 0px 10px;
}

.nav .ul li a{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-family: cursive, Arial;
    font-size: larger;
    border-radius: 12px;
}

.nav .ul li a:hover{
    background-color: black;
    color: rgb(252, 249, 249);
}

.container{
    position: relative;
    padding: 20px;
    columns: 4;
    column-gap: 20px;
}

.imageBox{
    margin-bottom: 20px;
    overflow: hidden;
}

.imageBox img{
    display: inline-block;
    width: 100%;
    transition: 0.5s all;
    border-radius: 10px;
}

.imageBox h1{
    position: absolute;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: #181818;
    color: #fff;
    font-family: cursive;
    border-radius: 5px;
    transition: 0.5s all;
    z-index: 1;
    opacity: 0;
}

.imageBox:hover h1{
    opacity: 0.8;
}

.imageBox:hover img{
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .container{
        column-count: 3;
    }
}

@media screen and (max-width: 570px) {
    .container{
        column-count: 2;
    }
}

@media screen and (max-width: 325px) {
    .container{
        column-count: 1;
    }
}