*{
    margin: 0;
    padding: 0;
    font-family:cursive, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/contact-1/4.jpg);
    background-size: cover;
}

.nav-bar{
	width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

#logo{
    width: 60px;
}

.nav{
    padding-left: 60px;
}

.nav .ul li{
    display: inline-block;
    margin: 0px 10px;
}

.nav .ul li a{
    text-decoration: none;
    color: rgb(179, 231, 205);
    font-size: large;
    padding: 2px 10px;
    border-radius: 10px;
}

.nav .ul li a:hover{
    background-color: blanchedalmond;
    color: rgb(26, 20, 20);
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: rgb(214, 162, 162);
}

.contact .content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
 
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container .contactInfo .box .icon .imgSize{
    width: 40px;
    height: 40px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #ffff;
    border-radius: 5px;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 5px;
    transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

.contactForm .inputBox input[type="submit"]:hover{
    background-color: rgb(45, 45, 182);
    color: wheat;
}

@media (max-width: 900px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo, .contactForm{
        width: 100%;
    }
}