html{
    background: url("../images/about-1/27.jpg") no-repeat center;
    background-size: cover;
    box-shadow: inset 10px 10px 50px #000;
}

.nav-bar{
	width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

#logo{
    width: 60px;
}

.nav{
    padding-left: 60px;
}

.nav .ul li{
    display: inline-block;
    margin: 0px 5px;
}

.nav .ul li a{
    text-decoration: none;
    color: black;
    font-size: larger;
    padding: 4px 10px;
    border-radius: 12px;
}

.nav .ul li a:hover{
    background-color: rgb(19, 19, 15);
    color: rgb(252, 249, 249);
}

#body{
    width: 50%;
    margin: 60px 25% ;
    text-align: center;
    font-family: cursive, Arial;
    background-color: rgba(0, 0, 0, 0.7);
    background-position: center;
    border-radius: 30px;
    padding: 15px;
}

h1{
    color: rgb(236, 215, 215);
    text-shadow: 2px 2px 10px red;
}

h4{
    color: rgb(148, 106, 106);
}

p{
    color: rgb(196, 177, 177);
}

#btn{
    background-color: rgb(18, 26, 75);
    color: rgb(236, 215, 215);
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

#btn:hover{
    background-color: rgb(236, 215, 215);
    color: rgb(5, 5, 5);
}

img{
    width: 30px;
}
